@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;
}

// colors
$white: white;
$lightgray: rgba(255, 255, 255, 0.36);
$theme: #442B17;
$themealt: #ad703e;

// transition
$slow: all 500ms ease;
$medium: all 400ms ease;
$fast: all 300ms ease;

.App {
    position: relative;
}

a {
    text-decoration: none;
    transition: $fast;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    height: 0.5px;
    width: 0;
    background-color: white;
    border: 0.5px solid white;
    transition: $fast;
    visibility: hidden;
}

a:hover::after {
    visibility: visible;
    width: 100%;
    left: 0;
}

button {
    width: 150px;
    padding: 10px 10px;
    font-size: 18px;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.086);
    color: $white;
    font-weight: 700;
    cursor: pointer;
    transition: $fast;
}

button:hover {
    transform: scale(0.95);
}

/* NAV */

nav {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 0;
    width: 100%;

    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            opacity: 0.5;
            transition: $fast;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        a {
            margin-left: 20px;
            color: $lightgray;
            font-size: 18px;

            &:visited {
                color: $lightgray;
            }

            &:hover {
                color: white;
            }
        }
    }
}

/* HEADER */

#header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/header-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    div {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        color: $white;
        font-size: 80px;
        text-align: center;
        line-height: 4rem;
    }

    h2 {
        color: $lightgray;
        text-align: center;
    }

    button {
        margin-top: 15px;
    }

}

/* ABOUT */

#about {
    background-color: $theme; //343433/442B17
    width: 100%;

    .container {
        width: 60%;
        margin: 0 auto;
        padding: 50px 20px;

        p {
            color: $lightgray;
        }

        h2 {
            font-size: 40px;
            color: $white;
            width: fit-content;
            border-bottom: 0.5px solid $white;
        }

        h3 {
            margin-top: 10px;
            color: rgba(255, 255, 255, 0.63);
            font-weight: 300;
            font-size: 16px;
        }
    }
}

/* SERVICES */

#services {
    
    .container {
        padding: 40px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: fit-content;
            font-size: 40px;
            color: $theme;
            border-bottom: 0.1px solid $theme;
            padding-bottom: 10px;
        }

        .services__wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        .service {
            text-align: center;
            width: 300px;
            margin: 40px 40px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            img {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                width: 100%;
                height: 200px;
            }

            h3 {
                font-size: 30px;
                color: $theme;
            }

            p {
                width: 80%;
                margin: 0 auto;
                color: $theme;
            }

            button {
                margin: 20px 0;
                background-color: transparent;
                border: 1px solid $theme;
                color: $theme;
                transition: $fast;

                &:hover {
                    transform: scale(1);
                    background-color: $theme;
                    color: $white;
                }
            }
        }
    }
}

/* CONTACT */

#contact {
    padding: 40px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://www.bakersteeltrading.co.uk/wp-content/uploads/2020/02/mild-steel-rods-1024x768.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 40px;
            color: $white;
            margin-bottom: 40px;
        }
        
        .contact__options {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .contact__mobile {
            width: 50%;

            .contact__method {
                display: flex;
                margin-right: 30px;
                align-items: center;
                height: 150px;
                padding: 30px 50px;
                box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
                background-color: $white;
            
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .fa-phone {
                    color: $theme;
                    margin-right: 20px;
                    font-size: 35px;
                    margin-left: 10px;
                }
                
                .fa-whatsapp, .fa-envelope {
                    color: $theme;
                    font-size: 45px;
                    margin-right: 20px;
                }
                
                .fa-envelope {
                    font-size: 40px;
                    margin-right: 20px;
                }

                h3 {
                    color: $theme;
                }
    
                h2 {
                    color: $themealt;
                    margin: 5px 0 0 0;
                    font-size: 20px;
                    transition: all 300ms ease;

                    &:hover {
                        transform: scale(0.95);
                    }
                }

                button {
                    margin-top: 15px;
                    margin-left: 15px;
                    background-color: transparent;
                    border: 1px solid $themealt;
                    color: $themealt;
                    transition: $fast;

                    &:hover {
                        transform: scale(1);
                        background-color: $themealt;
                        color: $white;
                    }
                }

                a {
                    &:hover::after {
                        visibility: hidden;
                    }
                }
            }
        }

      }

      form {
        width: 50%;
        height: 490px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
        padding: 30px 50px;
        background-color: $white;

        h3 {
            font-size: 25px;
            margin: 20px 0;
            color: $theme;
        }
          
        input, textarea {
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
            background-color: rgba(142, 142, 142, 0.065);
            border: none;
            outline: none;
            transition: all 300ms ease;

            &:hover, &:focus {
                background-color: rgba(142, 142, 142, 0.164);

            }
        }
          
        textarea {
            min-height: 100px;
            max-height: 100px;
        }

        button {
                    background-color: transparent;
                    border: 1px solid $themealt;
                    color: $themealt;
                    transition: $fast;

                    &:hover {
                        transform: scale(1);
                        background-color: $themealt;
                        color: $white;
                    }
      }
  }
}

  /* FOOTER */

  #footer {
    text-align: center;
    background-color: $themealt;
    padding: 20px 10px;

    img {
        opacity: 0.5;
        transition: $fast;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    p {
        color: $lightgray;
        font-size: 12px;
    }
}

