@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  height: 0.5px;
  width: 0;
  background-color: black;
  border: 0.5px solid black;
  transition: all 300ms ease;
  visibility: hidden;
}

a:hover::after {
  visibility: visible;
  width: 100%;
  left: 0;
}

button {
  width: 150px;
  padding: 10px 10px;
  font-size: 18px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.086);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

button:hover {
  transform: scale(0.95);
}

/* NAV */
nav {
  height: 80px;
  width: 100%;
}
nav .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container img {
  transition: all 300ms ease;
  cursor: pointer;
  width: 80px;
  height: 80px;
  z-index: 10;
  margin-top: 10px;
  filter: grayscale(100);
}
nav .container img:hover {
  opacity: 1;
}
nav .container a {
  font-weight: 800;
  margin-left: 20px;
  color: rgba(85, 85, 85, 0.723);
  font-size: 18px;
}
nav .container a:visited {
  color: rgba(85, 85, 85, 0.723);
}

/* HEADER */
#header {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#header img {
  width: 100%;
  height: 60vh;
  margin-top: 60px;
}
#header .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  line-height: 4rem;
  font-weight: 200;
}
#header .large {
  font-size: 60px;
  font-family: "Bevan", cursive;
}
#header h2 {
  color: black;
  text-align: center;
  font-size: 20px;
}

/* ABOUT */
#about {
  background-color: black;
  width: 100%;
}
#about .container {
  width: 60%;
  margin: 0 auto;
  padding: 50px 20px 60px 20px;
}
#about .container p {
  color: rgba(85, 85, 85, 0.723);
}
#about .container h2 {
  font-size: 40px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 0.5px solid white;
}
#about .container h3 {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.63);
  font-weight: 300;
  font-size: 16px;
}

/* SERVICES */
#services .container {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  color: black;
  border-bottom: 0.1px solid black;
  padding-bottom: 10px;
}
#services .container h3 {
  align-self: flex-start;
  font-size: 40px;
  color: black;
}
#services .container .services__wrapper {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90%;
  margin: 0 auto 30px auto;
  scrollbar-width: auto;
  scrollbar-color: #515151 black;
}
#services .container .services__wrapper::-webkit-scrollbar {
  height: 10px;
}
#services .container .services__wrapper::-webkit-scrollbar-track {
  background: lightgray;
}
#services .container .services__wrapper::-webkit-scrollbar-thumb {
  background-color: black;
}
#services .container .services__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
#services .container .service {
  position: relative;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  margin: 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#services .container .service img {
  width: 100%;
  height: 200px;
}
#services .container .service p {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 200px;
  white-space: normal;
  text-align: left;
  font-size: 18px;
  transform: scale(0);
  border-bottom: 0.5px solid black;
}
#services .container .service h3 {
  font-size: 30px;
  color: black;
  margin-top: 10px;
}
#services .container .service button {
  margin: 10px 0 20px 0;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all 300ms ease;
}
#services .container .service button:hover {
  transform: scale(1);
  background-color: black;
  color: white;
}
#services .container .service__para--on p {
  transform: scale(1);
}

/* CONTACT */
#contact {
  padding: 30px 0 50px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.bakersteeltrading.co.uk/wp-content/uploads/2020/02/mild-steel-rods-1024x768.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#contact .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .container h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}
#contact .container .contact__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#contact .container .contact__mobile {
  width: 50%;
}
#contact .container .contact__mobile .contact__method {
  display: flex;
  margin-right: 30px;
  align-items: center;
  height: 150px;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
  background-color: white;
}
#contact .container .contact__mobile .contact__method:not(:last-child) {
  margin-bottom: 20px;
}
#contact .container .contact__mobile .contact__method .fa-phone {
  color: black;
  margin-right: 20px;
  font-size: 35px;
  margin-left: 10px;
}
#contact .container .contact__mobile .contact__method .fa-whatsapp, #contact .container .contact__mobile .contact__method .fa-envelope {
  color: black;
  font-size: 45px;
  margin-right: 20px;
}
#contact .container .contact__mobile .contact__method .fa-envelope {
  font-size: 40px;
  margin-right: 20px;
}
#contact .container .contact__mobile .contact__method h3 {
  color: black;
}
#contact .container .contact__mobile .contact__method h2 {
  color: rgba(85, 85, 85, 0.723);
  margin: 5px 0 0 0;
  font-size: 20px;
  transition: all 300ms ease;
}
#contact .container .contact__mobile .contact__method h2:hover {
  transform: scale(0.95);
}
#contact .container .contact__mobile .contact__method button {
  margin-top: 15px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all 300ms ease;
}
#contact .container .contact__mobile .contact__method button:hover {
  transform: scale(1);
  background-color: black;
  color: white;
}
#contact .container .contact__mobile .contact__method a:hover::after {
  visibility: hidden;
}
#contact form {
  width: 50%;
  height: 490px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
  padding: 30px 50px;
  background-color: white;
}
#contact form h3 {
  font-size: 25px;
  margin: 20px 0;
  color: black;
}
#contact form input, #contact form textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  background-color: rgba(142, 142, 142, 0.065);
  border: none;
  outline: none;
  transition: all 300ms ease;
}
#contact form input:hover, #contact form input:focus, #contact form textarea:hover, #contact form textarea:focus {
  background-color: rgba(142, 142, 142, 0.164);
}
#contact form textarea {
  min-height: 100px;
  max-height: 100px;
}
#contact form button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all 300ms ease;
}
#contact form button:hover {
  transform: scale(1);
  background-color: black;
  color: white;
}
@media (max-width: 1000px) {
  #contact .contact__options {
    flex-direction: column;
  }
  #contact .contact__options .contact__mobile {
    width: 100%;
    margin-bottom: 20px;
  }
  #contact .contact__options .contact__mobile .contact__method {
    margin-right: 0;
  }
  #contact form {
    width: 100%;
  }
}

/* FOOTER */
#footer {
  text-align: center;
  background-color: black;
  padding: 20px 10px;
}
#footer img {
  transition: all 300ms ease;
  cursor: pointer;
  filter: brightness(100);
}
#footer p {
  margin-top: 20px;
  color: white;
  opacity: 0.6;
  font-size: 12px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px !important;
  }
}/*# sourceMappingURL=App.css.map */